body {
font-size: 10pt;
font-family: "courier new";
color: black; 
line-height: 14pt; 
padding-left: 20pt; 
padding-right: 20pt; 
padding-top: 5pt;
}

h1 {
font: 16pt Helvetica; 
font-weight: bold; 
line-height:20pt;
background-color: #DAF7A6;
align-content: center;
}

h2 {
font: 12pt Helvetica; 
font-weight: bold; 
line-height: 16pt; 
color: #C70039;
}
